@import "//at.alicdn.com/t/c/font_5166859_ud2193fc8q9.css";

body{
    font-family:"Arial",sans-serif
}
.left{
    float:left;
}

.right{
    float:right;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}