@import "reset.css";
@import "common.css";
@import "//at.alicdn.com/t/font_8d5l8fzk5b87iudi.css";

/* 统一设置 */
a{
    color:#41ac52;
}

input[type="text"],
input[type="password"]{
    width:100%;
    border:1px solid #e4e6e5;
    /* 盒子尺寸超过了边框：box-sizing:border-box;*/
    box-sizing:border-box;
    height:34px;
    padding-left:10px;
    border-radius:4px;
    font-size:13px;
}

/* 如果直接这么搞，这个选择器的特殊性没有属性选择器的特殊性高，经过层叠被清除（？） */
/* .more-text-indent{
    text-indent:75px;
} */
input[type="text"].more-text-indent{
    /* 不建议用text-indent，因为只是首行缩进，如果内容过多，还是会到区号div里面 */
    padding-left:60px;
}

/* 统一设置结束 */

.container{
    width:300px;
    height:300px;
    line-height:2;/*文字13px，行高26px，行高是两倍*/
    /* 方式1：padding:30px 10px 10px 10px; */
    /* 方式2：*/
    padding:10px;
    padding-top:30px;
    color:#9b9b9b;
}

.container .login .switch-menu{
    border-bottom:1px solid #ccc;
    font-size:13px;
}

.container .login .switch-menu span{
    width:150px;
    text-align:center;
    cursor:pointer;
}

.container .login .switch-menu span.selected{
    font-weight:bold;
    color:#333;
    /* 下边框没有把外层div覆盖掉*/
    /* 解决：设置margin-bottom：-1px*/
    border-bottom:1px solid #494949;
    margin-bottom:-1px;
}

.container .login .form .form-item{
    margin:10px 0;
    /* 只要不去偏移，不会造成什么影响，并不会改变以前的排列方式 */
    position:relative;
}

.container .login .form .form-item.txt{
    font-size:12px;
}

.container .login .form .form-item .country-code{
    position:absolute;
    width:51px;
    height:26px;
    left:0;
    top:5px;
    text-align:center;
    line-height:26px;
    color:#333;
    font-weight:bold;
    font-size:15px;
    border-right:1px solid #e4e6e5;
    /* 如何解决边框撑满的问题：高度设小一点 */
    cursor:pointer;
}

.container .login .form .form-item .country-code .choose-area{
    /* 铺满整个视口，背景半透明元素 */
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.5);
    left:0;
    top:0;
    z-index:1;/* 尽量靠前 */
}

.container .login .form .form-item .country-code .choose-area .center{
    width:285px;
    height:225px;
    position:absolute;/* 相对于父元素进行定位，父元素已经是定位元素了 */
    box-sizing:border-box;
    border:1px solid #bbb;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background:#fff;
    border-radius:5px;
    /* 没设置手型，但是鼠标指上去是小手，是因为父元素设置的鼠标样式，元素在父元素里面，所以鼠标指着它，相当于鼠标也在指着父元素 */
    cursor:default;
    overflow:hidden;
}

.container .login .form .form-item .country-code .choose-area .center .title{
    background:#ebf5eb;
    /* 背景元素覆盖边框盒，跑到外边去了（盒子边框不再是矩形，但是背景颜色仍是矩形，导致边上的角跑出去了），溢出隐藏即可 */
    /* 另解：这里再给它设置一个圆角边框 */
    height:42px;
    line-height:42px;
    text-align:left;
    padding-left:10px;
    color:#060;
    font-weight:bold;
}

.container .login .form .form-item .country-code .choose-area .center ul{
    height:180px;
    overflow:auto;
    padding:10px;
    /* 不加border-box的话，加了padding，尺寸不太对了 */
    box-sizing:border-box;
    font-size:14px;
}

.container .login .form .form-item .country-code .choose-area .center ul li{
    height:38px;
    line-height:38px;
    border-top:1px solid #e5e5e5;
    margin-top:-1px;

}

.container .login .form .form-item .country-code .choose-area .center ul li .right{
    color:#aaa;
}

.container .login .form .form-item .country-code .choose-area .center ul li:last-child{
    border-bottom:1px solid #e5e5e5;
}